<!DOCTYPE html>
<html>
  <head>
    <title>nataila的后台发布</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/post" method='POST'>
      title: <input type="text" name='title'>
      content: <textarea name='content'></textarea>
      <button type='submit'>sure</button>
    </form>
  </body>
</html>
