<% include header.ejs %>
<div class="row">
  <div class="main-left col-md-8">
    <div class="post-main">
      <h2 class="line-title">
        <span> 近期文章 </span>
      </h2>
      <% postList.forEach(function (item) {%>
        <% include postList.ejs %>
      <% }) %>
    </div>
  </div>
  <div class="col-md-4 main-right">
    sldkfj
  </div>
</div>
<% include footer.ejs %>
