doctype html
html
  head
    title
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    link(rel='stylesheet', type='text/css', href='/bootstrap/theme/bootstrap.united.css')
    link(rel='stylesheet', type='text/css', href='/css/main.css')
    script(src='/jQuery/jquery-1.12.0.min.js')
    script(src='/bootstrap/js/bootstrap.js')
  body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='#') nataila's Blog
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='/')
                首页
                span.sr-only (current)
            li
              a(href='#') xx
          form.navbar-form.navbar-right(role='search')
            .form-group
              input.form-control(type='text', placeholder='Search')
            button.btn.btn-default(type='submit') Submit
    .container
      .row
        .main-left.col-md-8
          .post-main
          block postMain
        .col-md-4.main-right
        asldfkj
