<article class="post-list">
  <header>
    <strong><a href="/detail/<%= item._id %>"><%= item.title %></a></strong>
  </header>
  <p class='author-msg'> nataila 发表于 <%= item.created_time %></p>
  <div class="note">
    <%= item.content %>
  </div>
  <footer class="text-muted">
    <span>阅读(438)</span>
    <span>评论(<a href="archives/424#comments">3</a>)</span>
    <span> <a href="archives/424"></i>赞(68)</a> </span>
    <span>标签：<a href="archives/tag/gulp">gulp</a></span>
  </footer>
</article>
